<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
                                
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3 class="text-center">{{ totalProjects }}</h3>                                <p>&nbsp;</p>
                        </div>
                        <div class="icon">
                            <img class="ion" src="" alt="">
                        </div>
                        <span href="#" class="small-box-footer">Total Projects</span>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3 class="text-center">{{ totalQueries }}</h3>                                <p>&nbsp;</p>
                        </div>
                        <div class="icon">
                            <img class="ion" src="" alt="">
                        </div>
                        <span href="#" class="small-box-footer">Total Query</span>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3 class="text-center">{{ totalBlogs }}</h3>                                <p>&nbsp;</p>
                        </div>
                        <div class="icon">
                            <img class="ion" src="" alt="">
                        </div>
                        <span href="#" class="small-box-footer">Total Blogs</span>
                    </div>
                </div>

            </div>
        </div> <!-- container -->
    </div> <!-- content -->
</div>
