<footer class="footer-custom container-fluid" style="padding-left: 100px;">
    <div class="footer-div container-fluid">
        <div class="foot-logo">
            <a routerLinkActive="active" routerLink="/home"><img src="/assets/images/footer-logo.png" alt=""></a>
        </div>
        <div class="foot-div">
            <div class="foot-div-head">
                <h3>Quick Links</h3>
            </div>
            <div class="foot-options">
                <div class="foot-div-body">
                    <a routerLinkActive="active" routerLink="/home">Home</a>
                    <a routerLinkActive="active" routerLink="/services">Services</a>
                    <a routerLinkActive="active" routerLink="/about">About</a>
                    <a routerLinkActive="active" routerLink="/portfolio">Portfolio</a>
                </div>
                <div class="foot-div-body">

                    <a routerLinkActive="active" routerLink="/pricing">Pricing Policy</a>

                    <a routerLinkActive="active" routerLink="/contact">Contact</a>
                </div>
            </div>
        </div>
        <div class="foot-div foot-div-contact">
            <div class="foot-div-head">
                <h3>Contact</h3>
            </div>
            <div class="foot-div-body">
                <div class="foot-contact">
                    <img src="/assets/images/location-icon.svg" alt="">
                    <span>38 Kha No. 29211kh1 Shiv Sangam Nagar, Bhopal, Madhya Pradesh</span>
                </div>
                <div class="foot-contact">
                    <img src="/assets/images/email-icon.svg" alt="">
                    <span>infotaskhive.co.in</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-bottom container">
        <div class="terms">
            <a routerLinkActive="active" routerLink="/terms-condition">Terms &amp; conditions</a>
            <a routerLinkActive="active" routerLink="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="copyright">
            <span>© 2023 Taskhive - Swift Solutions, Trusted Reliability</span>
        </div>
    </div>
</footer>
