
.content-page {
    margin-left: 0px;
    overflow: hidden;
    padding: 0 15px 5px 15px;
    min-height: 80vh;
    margin-top: 5px;;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    padding-left: auto;
    margin-right: auto;
}

.enlarged .content-page {
    margin-left: 70px!important
}
.dataTables_wrapper.container-fluid {
    padding: 0
}

.dataTables_wrapper.container-fluid {
    padding: 0
}

.dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1.5rem 0 0!important
}

.dataTables_info {
    font-weight: 600
}


.left-side-menu-sm .left-side-menu+.content-page {
    margin-left: 160px
}

@media print {
    .footer,.left-side-menu,.navbar-custom,.page-title-box,.right-bar {
        display: none
    }

    .card-body,.content,.content-page,.right-bar,body {
        padding: 0;
        margin: 0
    }
}
.stt .bs-searchbox .form-control {
    border: 1px solid #525A65;
    height: 40px;
}

.stt.bootstrap-select .inner {
    overflow-y: auto !important;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: normal !important;
}

table tr td {
    vertical-align: middle !important;
}

.cursor {
    cursor: pointer;
}

.error {
    color: red;
}

.small-box .icon>img {
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 70px;
    transition: all .3s linear;
}

.small-box>.small-box-footer {
    background: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
}

.small-box>.inner {
    padding: 10px;
}

.small-box .icon {
    color: rgba(0, 0, 0, .15);
    z-index: 0;
}

.small-box:hover {
    text-decoration: none;
}

.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.project_images {
    width: 100px;
    height: 90px;
    margin-top: 10px;
}

.pro-user-name {
    display: none;
}

.navbar-custom {
    background-color: #fff;
}

.fe-menu {
    color: #000;
}

.dropdown-toggle::after {
    color: #000;
}

.menu-title {
    color: #000 !important;
}

#sidebar-menu>ul>li>a:hover {
    color: #0399FA;
    text-decoration: none;
}

.active {
    color: #0399FA;
}

#sidebar-menu>ul>li>a.active {
    color: #0399FA;
}

.small-box {
    background-color: #0399FA !important;
}

.small-box h3 {
    color: #fff;
    font-size: 3rem;
}

#sidebar-menu>ul>li>a>span {
    font-size: 1.05rem;
}

.btn {
    color: #000;
    background: #FCDB38;
    border: none;
}

.btn:hover {
    color: #fff;
    background: #0399FA;
}

.page-title-box .page-title {
    font-size: 1.25rem;
    margin: 0;
    line-height: 75px;
    color: #323a46
}

.page-title-box .page-title-right {
    float: right;
    margin-top: 22px
}

.page-title-box .breadcrumb {
    padding-top: 5px
}

@media (max-width: 767.98px) {
    .page-title-box .page-title {
        display:block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 70px
    }

    .page-title-box .breadcrumb {
        display: none
    }
}

@media (max-width: 640px) {
    .page-title-box .page-title-right {
        display:none
    }
}

@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display:none
    }
}

@media print {
    .footer,.left-side-menu,.navbar-custom,.page-title-box,.right-bar {
        display: none
    }

    .card-body,.content,.content-page,.right-bar,body {
        padding: 0;
        margin: 0
    }
}


table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
  }
  table.dataTable td,
  table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  table.dataTable td.dataTables_empty,
  table.dataTable th.dataTables_empty {
    text-align: center;
  }
  table.dataTable.nowrap th,
  table.dataTable.nowrap td {
    white-space: nowrap;
  }
  
  div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
  }
  div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
  }
  
  table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
  table.dataTable thead > tr > td.sorting_asc,
  table.dataTable thead > tr > td.sorting_desc,
  table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
  }
  table.dataTable thead > tr > th:active,
  table.dataTable thead > tr > td:active {
    outline: none;
  }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
  }
  table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
  }
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
  }
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:after {
    opacity: 1;
  }
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
  }
  
  div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
  }
  
  div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  div.dataTables_scrollBody table thead .sorting:before,
  div.dataTables_scrollBody table thead .sorting_asc:before,
  div.dataTables_scrollBody table thead .sorting_desc:before,
  div.dataTables_scrollBody table thead .sorting:after,
  div.dataTables_scrollBody table thead .sorting_asc:after,
  div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
  }
  div.dataTables_scrollBody table tbody tr:first-child th,
  div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
  }
  
  div.dataTables_scrollFoot > .dataTables_scrollFootInner {
    box-sizing: content-box;
  }
  div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
    margin-top: 0 !important;
    border-top: none;
  }
  
  @media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
      text-align: center;
    }
  }
  table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px;
  }
  table.dataTable.table-sm .sorting:before,
  table.dataTable.table-sm .sorting_asc:before,
  table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em;
  }
  table.dataTable.table-sm .sorting:after,
  table.dataTable.table-sm .sorting_asc:after,
  table.dataTable.table-sm .sorting_desc:after {
    top: 5px;
  }
  
  table.table-bordered.dataTable th,
  table.table-bordered.dataTable td {
    border-left-width: 0;
  }
  table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
  table.table-bordered.dataTable td:last-child,
  table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
  }
  table.table-bordered.dataTable tbody th,
  table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
  }
  
  div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
  }
  
  div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
  }
  