body {
    font-family: 'Raleway', 'Roboto', 'Poppins', sans-serif;
}

//=================================expert section=================================================
.expert-part {
    margin-top: 170px;
    margin-bottom: 60px;
    overflow: hidden;
}

.expert-part .expert-heading {
    font-family: 'Raleway';
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
}

.code-style {
    background-color: #F2F2F2;
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
}

hr.hr-line {
    border: 2px solid #FCDB38;
    margin-bottom: 30px
}

.expert-part .expert-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px
}

.expert-img .top-left-img {
    margin-left: 90px;
    width: 27rem;
}

.blue-btn {
    color: #fff;
    background-color: #0399FA;
    border-color: #0399FA;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
}

.blue-btn:hover {
    color: #fff;
    background-color: #0399FA;
    border-color: #0399FA;
}

.yellow-outline-btn {
    color: #000000;
    background-color: #fff;
    border-color: #FCDB38;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
    margin-left: 1.5rem;
}

.yellow-outline-btn:hover {
    color: #000000;
    background-color: #fff;
    border-color: #FCDB38;
}

hr.hr-yellow {
    border-top: 2px dashed #FCDB38;
    margin: 75px 0px;
}

.yellow-btn {
    color: #000000;
    background-color: #FCDB38;
    border-color: #FCDB38;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
}

.yellow-btn:hover {
    color: #000000;
    background-color: #FCDB38;
    border-color: #FCDB38;
}

.who-we-are {
    padding-top: 30px;
    padding-bottom: 60px;
}

.who-we-are .who-we-heading {
    font-family: 'Raleway';
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: justify;
}

.who-we-are .who-we-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
}

.who-we-are .we-are-img {
    width: 32rem;
}

.who-we-are .who-we-button {
    margin-top: 30px;
}

//===============================what we do section=============================================================
.what-we-do-section {
    background: url(../../../assets/images/what-we-do.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

.what-we-do-section .what-we-do {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.what-we-do .what-we-do-content {
    background: #fff;
    border-radius: 15px;
    padding: 20px 40px;
}

.what-we-do .we-do-content-head {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.what-we-do .we-do-content-para {
    font-family: 'Raleway';
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
}

.what-we-do .we-do-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.we-do-button .see-all-services {
    background: #000000;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.we-do-button .arrow_forward {
    width: 25px;
    margin-left: 10px;
}

.card-size1 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-size2 {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}

.what-we-do .what-we-do-sub-content {
    background: #fff;
    border-radius: 15px;
    padding: 35px 25px;
    margin-top: 5rem;
    width: 20rem;
    height: 25rem;
}

.what-we-do-sub-content .sub-content-img {
    width: 2.5rem;
    margin-bottom: 20px;
}

.what-we-do-sub-content .sub-content-head {
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.what-we-do-sub-content .sub-content-para {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

//===================trusted partners=======================
.trusted-partner-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.trusted-partner-section .trusted-partner {
    background-color: #FFD641;
    box-shadow: 0px 4px 40px -1px #47466526;
    border-radius: 20px;
    padding: 40px 30px;
}

.trusted-partner .trusted-heading {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
}

.trusted-partner .trusted-para {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: justify;
}

hr.hr-blue {
    border-top: 2px dashed #0399FA;
}

.trusted-company {
    margin: 50px 0px;
}

.trusted-company .trusted-company-heading {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}

.trusted-company .trusted-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.trusted-company .trusted-company-logo1 {
    width: 16rem;
    filter: invert(1);
    object-fit: contain;
}

.trusted-company .trusted-company-logo2 {
    width: 16rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo3 {
    width: 16rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo4 {
    width: 10rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo5 {
    width: 5rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo7 {
    width: 15rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo8 {
    width: 15rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo9 {
    width: 8rem;
    object-fit: contain;
}

.trusted-company .trusted-company-logo10 {
    width: 10rem;
    object-fit: contain;
}

//===========================crafting section ======================================
.crafting-section {
    background: url(../../../assets/images/crafting-img.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    height: 66rem;
    margin-top: 90px;
    overflow: hidden;
}

.crafting-part .crafting-content {
    background: #FFFFFFE5;
    padding: 25px 28px;
    width: 38rem;
    position: relative;
    top: 20rem;
    left: 40rem;
    border-radius: 90px 0px 90px 0px;
}

.crafting-part .crafting-head-bold {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.book-a-call-btn1 {
    display: none;
}

.book-a-call-btn2 {
    display: none;
}

.book-a-call-btn3 {
    display: none;
}

.crafting-part .crafting-heading {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.crafting-part .read-more-button {
    margin-top: 40px;
}

.black-btn {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 8.5rem;
}

.black-btn:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}



//=========================blog section=======================================
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .blog-carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .blog-card {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 10px;
  }
  
  .testimonial-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 15px;
    height: 150px;
    overflow: hidden;
  }

  .read_more_blog {
    text-align: right;
    padding: 10px 15px;
  }
  
  .read_more_blog a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read_more_blog a:hover {
    text-decoration: underline;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 767px) {
    .blog-card {
      flex: 0 0 calc(100% - 20px);
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      width: 30px;
      height: 30px;
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 15px;
      height: 15px;
    }
  }

//=========================contact us==========================================
.contact-us {
    margin: 75px 0px;
    overflow: hidden;
}

.contact-us .contact-us-heading {
    font-family: 'Raleway';
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
}

.contact-form .form-margin {
    margin-bottom: 35px;
}

.contact-form .form-control {
    background-color: #F2F2F2;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.contact-form .form-select {
    background-color: #F2F2F2;
    background-image: url(../../../assets/images/down-arrow.svg);
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.contact-left-content .contact-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-left-content .contact-left-head {
    font-family: 'Raleway';
    color: #0399FA;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
}

.contact-left-content .contact-left-head1 {
    font-family: 'Raleway';
    color: #0399FA;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contact-left-content .content-icon {
    width: 2.7rem;
    margin-right: 10px;
}

.contact-left-content .content-address {
    font-family: 'Raleway';
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    text-decoration: none;
}

.contact-us .padding-left {
    padding-left: 3rem;
}

@media only screen and (max-width: 379px) and (min-width: 330px) {
    .expert-part .carousel-img {
        position: absolute;
        top: 19%;
    }

    .expert-part {
        margin-top: 140px;
        padding-top: 17.5rem;
        margin-bottom: 0px;
    }

    .expert-part .expert-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;
        text-align: center;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .contact-git {
        display: none;
    }
    
    .expert-part .expert-para {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .expert-part .expert-button {
        display: flex;
        justify-content: center;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .yellow-outline-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
        margin-left: 0.3rem;
    }

    .expert-img .top-left-img {
        margin-left: 32px;
        width: 17rem;
    }

    hr.hr-yellow {
        margin: 45px 0px;
    }

    .who-we-are .we-are-img {
        width: 18rem;
        margin-left: 24px;
        margin-top: 0px;
    }

    .who-we-are .who-we-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 15px;
        margin-top: 40px;
        text-align: center;
    }

    .who-we-are .who-we-para {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
        text-align: center;
    }

    .who-we-are .who-we-button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .yellow-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .card-size1 {
        display: unset !important;
    }

    .card-size2 {
        display: unset !important;
    }

    .what-we-do-section .what-we-do {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .what-we-do .we-do-content-para {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2rem;
        margin-left: 45%;
        margin-bottom: 10px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 2rem;
        width: 100%;
        height: 11rem;
        padding: 20px 15px;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 11px;
        line-height: 18px;
        text-align: center;

    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 6px 6px 6px 20px;
        font-size: 10px;
        line-height: 14px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .trusted-partner .trusted-heading {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 15px;
        text-align: center;
    }

    .trusted-partner .trusted-para {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
    }

    .trusted-partner .trusted-img {
        margin-top: 10px;
        margin-left: -5px;
        width: 18rem;
    }

    .trusted-company .trusted-company-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .trusted-company .trusted-logo {
        margin-bottom: 20px;
    }

    .trusted-company .trusted-company-logo1 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo2 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo4 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo5 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo7 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo8 {
        width: 3rem;
    }

    .trusted-company .trusted-company-logo9 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo10 {
        width: 7rem;
    }

    .crafting-section {
        height: 17rem;
        margin-top: 60px;
    }

    .crafting-part .crafting-content {
        border-radius: 30px 0px 30px 0px;
        padding: 10px 10px;
        width: 17rem;
        top: 1.5rem;
        left: 2rem;
    }

    .crafting-part .crafting-head-bold {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .crafting-heading {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .contact-us {
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .contact-us .contact-us-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 15px;
    }

    .contact-form .form-control {
        font-size: 12px;
        line-height: 25px;
    }

    .contact-form .form-select {
        font-size: 12px;
        line-height: 25px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 20px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 22px;
    }

    .contact-left-content .content-address {
        font-size: 13px;
        line-height: 18px;
    }

    .contact-form .black-btn {
        line-height: 28px;
    }

    .contact-left-content .content-icon {
        width: 2.5rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 551px) and (min-width: 380px) {
    .expert-part .carousel-img {
        position: absolute;
        top: 16%;
    }

    .contact-git {
        display: none;
    }

    .expert-part {
        margin-top: 140px;
        padding-top: 17.5rem;
        margin-bottom: 0px;
    }

    .expert-part .expert-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;
        text-align: center;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .expert-part .expert-para {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .expert-part .expert-button {
        display: flex;
        justify-content: center;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .yellow-outline-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
        margin-left: 0.3rem;
    }

    .expert-img .top-left-img {
        margin-left: 40px;
        width: 18rem;
    }

    hr.hr-yellow {
        margin: 45px 0px;
    }

    .who-we-are .we-are-img {
        width: 18rem;
        margin-left: 40px;
        margin-top: 0px;
    }

    .who-we-are .who-we-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 15px;
        margin-top: 40px;
        text-align: center;
    }

    .who-we-are .who-we-para {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
        text-align: center;
    }

    .who-we-are .who-we-button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .yellow-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .card-size1 {
        display: unset !important;
    }

    .card-size2 {
        display: unset !important;
    }

    .what-we-do-section .what-we-do {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .what-we-do .we-do-content-para {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2rem;
        margin-left: 45%;
        margin-bottom: 10px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 2rem;
        width: 100%;
        height: 11rem;
        padding: 20px 15px;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 11px;
        line-height: 18px;
        text-align: center;

    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 6px 6px 6px 20px;
        font-size: 10px;
        line-height: 14px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .trusted-partner .trusted-heading {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 15px;
        text-align: center;
    }

    .trusted-partner .trusted-para {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
    }

    .trusted-partner .trusted-img {
        margin-top: 10px;
        margin-left: -5px;
        width: 20rem;
    }

    .trusted-company .trusted-company-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    
    .trusted-company .trusted-logo {
        margin-bottom: 20px;
    }

    .trusted-company .trusted-company-logo1 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo2 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo4 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo5 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo7 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo8 {
        width: 3rem;
    }

    .trusted-company .trusted-company-logo9 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo10 {
        width: 7rem;
    }

    .crafting-section {
        height: 17rem;
        margin-top: 60px;
    }

    .crafting-part .crafting-content {
        border-radius: 30px 0px 30px 0px;
        padding: 20px 20px;
        width: 18rem;
        top: 1.7rem;
        left: 2.5rem;
    }

    .crafting-part .crafting-head-bold {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .crafting-heading {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .contact-us .contact-us-heading {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 15px;
    }

    .contact-form .form-control {
        font-size: 12px;
        line-height: 25px;
    }

    .contact-form .form-select {
        font-size: 12px;
        line-height: 25px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 20px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 22px;
    }

    .contact-left-content .content-address {
        font-size: 13px;
        line-height: 18px;
    }

    .contact-form .black-btn {
        line-height: 28px;
    }

    .contact-left-content .content-icon {
        width: 2.5rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 35px;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 550px) {
    .expert-part {
        margin-top: 170px;
        margin-bottom: 40px;
    }

    .contact-git {
        display: none;
    }

    .expert-part .expert-heading {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .expert-part .expert-para {
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .blue-btn {
        font-size: 12px;
        line-height: 14px;
        width: 6rem;
    }

    .yellow-outline-btn {
        font-size: 12px;
        line-height: 14px;
        width: 6rem;
        margin-left: 0.3rem;
    }

    .expert-img .top-left-img {
        margin-top: 30px;
        margin-left: 0px;
        width: 12.5rem;
    }

    hr.hr-yellow {
        margin: 50px 0px;
    }

    .who-we-are .we-are-img {
        width: 15rem;
        margin-top: 35px;
    }

    .who-we-are .who-we-heading {
        font-size: 20px;
        line-height: 32px;
    }

    .who-we-are .who-we-para {
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .trusted-partner-section {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .who-we-are .who-we-button {
        margin-top: 20px;
    }

    .yellow-btn {
        font-size: 12px;
        line-height: 14px;
        width: 6rem;
    }

    .what-we-do-section .what-we-do {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .what-we-do .we-do-content-para {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2rem;
        margin-bottom: 10px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 2rem;
        width: 9.9rem;
        height: 18rem;
        padding: 20px 15px;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 10px;
        line-height: 16px;
    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 4px 4px 4px 17px;
        font-size: 10px;
        line-height: 14px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner .trusted-heading {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 15px;
        text-align: center;
    }

    .trusted-partner .trusted-para {
        font-size: 12px;
        line-height: 22px;
    }

    .trusted-partner .trusted-img {
        margin-top: 10px;
        margin-left: 70px;
        width: 20rem;
    }

    .trusted-company .trusted-company-heading {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 12px;
    }
    
    .trusted-company .trusted-logo {
        margin-bottom: 10px;
    }

    .trusted-company .trusted-company-logo1 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo2 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo4 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo5 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo7 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo8 {
        width: 3rem;
    }

    .trusted-company .trusted-company-logo9 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo10 {
        width: 7rem;
    }

    .crafting-section {
        height: 28rem;
        margin-top: 70px;
    }

    .crafting-part .crafting-content {
        padding: 15px 16px;
        width: 17.5rem;
        top: 6rem;
        left: 14rem;
        border-radius: 50px 0px 50px 0px;
    }

    .crafting-part .crafting-head-bold {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .crafting-heading {
        font-size: 18px;
        line-height: 30px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 12px;
        line-height: 14px;
        width: 6rem;
    }

    .contact-us {
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .contact-us .contact-us-heading {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 15px;
    }

    .contact-form .form-control {
        font-size: 12px;
        line-height: 20px;
    }

    .contact-form .form-select {
        font-size: 12px;
        line-height: 20px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
        margin-bottom: 22px;
    }

    .contact-left-content .content-address {
        font-size: 11px;
        line-height: 16px;
    }

    .contact-left-content .content-icon {
        width: 2rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .expert-part .expert-heading {
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 16px;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .expert-part .expert-para {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 22px;
        width: 7rem;
    }

    .yellow-outline-btn {
        font-size: 14px;
        line-height: 22px;
        width: 7rem;
        margin-left: 0.5rem;
    }

    .expert-img .top-left-img {
        margin-top: 30px;
        margin-left: 0px;
        width: 17rem;
    }

    .who-we-are .we-are-img {
        width: 20rem;
    }

    hr.hr-yellow {
        margin: 50px 0px;
    }

    .who-we-are .who-we-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .who-we-are .who-we-para {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .who-we-are .who-we-button {
        margin-top: 20px;
    }

    .yellow-btn {
        font-size: 14px;
        line-height: 22px;
        width: 7rem;
    }

    .what-we-do-section .what-we-do {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 27px;
        line-height: 45px;
        margin-bottom: 15px;
    }

    .what-we-do .we-do-content-para {
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2.2rem;
        margin-bottom: 13px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 3rem;
        width: 13rem;
        height: 22rem;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 12px;
        line-height: 20px;
    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 8px 8px 8px 20px;
        font-size: 12px;
        line-height: 15px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner-section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .trusted-partner .trusted-heading {
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 15px;
    }

    .trusted-partner .trusted-para {
        font-size: 14px;
        line-height: 25px;
    }

    .trusted-partner .trusted-img {
        margin-top: 70px;
        width: 18rem;
    }

    .trusted-company .trusted-company-heading {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    
    .trusted-company .trusted-logo {
        margin-bottom: 10px;
    }

    .trusted-company .trusted-company-logo1 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo2 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo4 {
        width: 6rem;
    }

    .trusted-company .trusted-company-logo5 {
        width: 4rem;
    }

    .trusted-company .trusted-company-logo7 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo8 {
        width: 3rem;
    }

    .trusted-company .trusted-company-logo9 {
        width: 5rem;
    }

    .trusted-company .trusted-company-logo10 {
        width: 7rem;
    }

    .crafting-section {
        height: 32rem;
        margin-top: 70px;
    }

    .crafting-part .crafting-content {
        padding: 20px 22px;
        width: 20rem;
        top: 8.5rem;
        left: 20rem;
        border-radius: 60px 0px 60px 0px;
    }

    .crafting-part .crafting-head-bold {
        font-size: 20px;
        line-height: 32px;
    }

    .crafting-part .crafting-heading {
        font-size: 20px;
        line-height: 32px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 14px;
        line-height: 22px;
        width: 7rem;
    }

    .contact-us {
        margin: 60px 0px;
    }

    .contact-us .contact-us-heading {
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 15px;
    }

    .contact-form .form-control {
        line-height: 20px;
    }

    .contact-form .form-select {
        line-height: 20px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
        margin-bottom: 22px;
    }

    .contact-left-content .content-address {
        font-size: 12px;
        line-height: 18px;
    }

    .contact-left-content .content-icon {
        width: 2.4rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .expert-part .expert-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .expert-part .expert-para {
        font-size: 14px;
        line-height: 22px;
    }

    .blue-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
    }

    .yellow-outline-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
        margin-left: 1rem;
    }

    .expert-img .top-left-img {
        margin-top: 20px;
        margin-left: 7px;
        width: 23rem;
    }

    .who-we-are .we-are-img {
        width: 25rem;
    }

    .who-we-are .who-we-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .who-we-are .who-we-para {
        font-size: 15px;
        line-height: 24px;
    }

    .yellow-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
    }

    .what-we-do-section .what-we-do {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 37px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .what-we-do .we-do-content-para {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2.4rem;
        margin-bottom: 15px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 4rem;
        width: 17rem;
        height: 22rem;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 14px;
        line-height: 22px;
    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 8px 8px 8px 20px;
        font-size: 13px;
        line-height: 18px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner .trusted-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .trusted-partner .trusted-para {
        font-size: 17px;
        line-height: 30px;
    }

    .trusted-partner .trusted-img {
        width: 27rem;
    }

    .trusted-company .trusted-company-heading {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    
    .trusted-company .trusted-logo {
        margin-bottom: 20px;
    }

    .crafting-section {
        height: 44rem;
    }

    .crafting-part .crafting-content {
        padding: 25px 30px;
        width: 25rem;
        top: 12rem;
        left: 29rem;
        border-radius: 70px 0px 70px 0px;
    }

    .crafting-part .crafting-head-bold {
        font-size: 25px;
        line-height: 40px;
    }

    .crafting-part .crafting-heading {
        font-size: 25px;
        line-height: 40px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 16px;
        line-height: 26px;
        width: 7rem;
    }

    .contact-us .contact-us-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 25px;
    }

    .contact-form .form-control {
        line-height: 25px;
    }

    .contact-form .form-select {
        line-height: 25px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .contact-left-content .content-address {
        font-size: 12px;
        line-height: 18px;
    }

    .contact-left-content .content-icon {
        width: 2.4rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 22px;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 1200px) {
    .expert-part .expert-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .expert-part .expert-para {
        font-size: 15px;
        line-height: 24px;
    }

    .blue-btn {
        font-size: 16px;
        line-height: 26px;
        width: 9rem;
    }

    .yellow-outline-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
        margin-left: 1rem;
    }

    .expert-img .top-left-img {
        margin-top: 15px;
        margin-left: 30px;
        width: 25rem;
    }

    .who-we-are .we-are-img {
        width: 26rem;
    }

    .who-we-are .who-we-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .who-we-are .who-we-para {
        font-size: 16px;
        line-height: 25px;
    }

    .yellow-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
    }

    .what-we-do-section .what-we-do {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .what-we-do .we-do-content-head {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .what-we-do .we-do-content-para {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 32px;
    }

    .what-we-do-sub-content .sub-content-img {
        width: 2.4rem;
        margin-bottom: 15px;
    }

    .what-we-do .what-we-do-sub-content {
        margin-top: 5rem;
        width: 18rem;
        height: 23rem;
    }

    .what-we-do-sub-content .sub-content-head {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .what-we-do-sub-content .sub-content-para {
        font-size: 14px;
        line-height: 24px;
    }

    .what-we-do .we-do-button {
        margin-bottom: 5px;
    }

    .we-do-button .see-all-services {
        padding: 8px 8px 8px 20px;
        font-size: 13px;
        line-height: 18px;
    }

    .we-do-button .arrow_forward {
        width: 20px;
        margin-left: 5px;
    }

    .trusted-partner .trusted-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .trusted-partner .trusted-para {
        font-size: 18px;
        line-height: 32px;
    }

    .trusted-partner .trusted-img {
        width: 27rem;
    }

    .trusted-company .trusted-company-paragraph {
        font-size: 25px;
        line-height: 38px;
        margin-bottom: 22px;
    }

    .trusted-company .trusted-logo {
        margin-bottom: 20px;
    }

    .crafting-section {
        height: 57rem;
    }

    .crafting-part .crafting-content {
        padding: 28px 30px;
        width: 30rem;
        top: 16rem;
        left: 35rem;
        border-radius: 90px 0px 90px 0px;
    }

    .crafting-part .crafting-head-bold {
        font-size: 30px;
        line-height: 50px;
    }

    .crafting-part .crafting-heading {
        font-size: 30px;
        line-height: 50px;
    }

    .crafting-part .read-more-button {
        margin-top: 20px;
    }

    .black-btn {
        font-size: 16px;
        line-height: 26px;
        width: 7rem;
    }

    .contact-us .contact-us-heading {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 25px;
    }

    .contact-form .form-margin {
        margin-bottom: 25px;
    }

    .contact-form .form-control {
        line-height: 25px;
    }

    .contact-form .form-select {
        line-height: 25px;
    }

    .contact-us .padding-left {
        padding-left: 1.5rem;
    }

    .contact-left-content .contact-left-head {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .contact-left-content .content-address {
        font-size: 12px;
        line-height: 18px;
    }

    .contact-left-content .content-icon {
        width: 2.4rem;
    }

    .contact-left-content .contact-left-head1 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 22px;
        margin-bottom: 22px;
    }
}