* {
    margin: 0;
    
}
body {
    font-family: 'Raleway', 'Roboto', 'Poppins', sans-serif;
}

.blue-btn {
    color: #fff;
    background-color: #0399FA;
    border-color: #0399FA;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
}

.blue-btn:hover {
    color: #fff;
    background-color: #0399FA;
    border-color: #0399FA;
}


.book-a-call-btn1 {
    display: none;
}

.book-a-call-btn2 {
    display: none;
}

.book-a-call-btn3 {
    display: none;
}


.yellow-outline-btn {
    color: #000000;
    background-color: #fff;
    border-color: #FCDB38;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
    margin-left: 1.5rem;
}

.yellow-outline-btn:hover {
    color: #000000;
    background-color: #fff;
    border-color: #FCDB38;
}

hr.hr-yellow {
    border-top: 2px dashed #FCDB38;
    margin: 75px 0px;
}

.yellow-btn {
    color: #000000;
    background-color: #FCDB38;
    border-color: #FCDB38;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 10rem;
}

.yellow-btn:hover {
    color: #000000;
    background-color: #FCDB38;
    border-color: #FCDB38;
}


.black-btn {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 8.5rem;
}

.black-btn:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.contact-git {
    width: 100%;
}
//==============================================================================================================================
//===================================services======================================================
//============================================================================================================================
.our-services {
    margin-top: 170px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-services .our-services-heading {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.our-services-content {
    margin-bottom: 70px;
    overflow: hidden;
}

.our-services-content .our-content-head {
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

.our-services-content .sub-content-head {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.our-services-content .sub-content-para {
    font-family: 'Raleway';
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
}

.our-services-content .services-img {
    width: 27rem;
}

.our-services-content .services-img2 {
    display: none;
}

.our-services-image {
    display: flex;
    justify-content: end;
    align-items: center;
}

.our-services-image1 {
    justify-content: start;
}

@media only screen and (max-width: 379px) and (min-width: 330px) {
    
    hr.hr-line {
        margin-bottom: 20px;
    }

    .contact-git {
        display: none;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .our-services {
        margin-top: 140px;
        margin-bottom: 5px;
        display: block;
    }

    .our-services .our-services-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .book-a-call-btn {
        display: none;
    }

    .our-services-image {
        display: block;
    }

    .our-services-content .our-content-head {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .our-services-content .sub-content-head {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .our-services-content .sub-content-para {
        font-size: 13px;
        line-height: 24px;
    }

    .our-services-content .services-img {
        width: 23rem;
        display: none;
    }

    .our-services-content .services-img2 {
        width: 23rem;
        display: block;
    }

    .book-a-call-btn1 {
        display: block;
        margin-top: 30px;
    }

    .book-a-call-btn2 {
        display: block;
        margin-top: 17rem;
    }

    .book-a-call-btn3 {
        display: block;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .our-services-content {
        margin-bottom: 25px;
    }

    .our-services-img1 {
        position: absolute;
        top: 29rem;
    }

    .our-services-content1 {
        margin-top: 0rem;
    }
}


@media only screen and (max-width: 551px) and (min-width: 380px) {
    
    .contact-git {
        display: none;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 18px;
        width: 7rem;
    }

    .our-services {
        margin-top: 140px;
        margin-bottom: 5px;
        display: block;
    }

    .our-services .our-services-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .book-a-call-btn {
        display: none;
    }

    .our-services-image {
        display: block;
    }

    .our-services-content .our-content-head {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .our-services-content .sub-content-head {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .our-services-content .sub-content-para {
        font-size: 13px;
        line-height: 24px;
    }

    .our-services-content .services-img {
        width: 23rem;
        display: none;
    }

    .our-services-content .services-img2 {
        width: 23rem;
        display: block;
    }

    .book-a-call-btn1 {
        display: block;
        margin-top: 30px;
    }

    .book-a-call-btn2 {
        display: block;
        margin-top: 17rem;
    }

    .book-a-call-btn3 {
        display: block;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .our-services-content {
        margin-bottom: 25px;
    }

    .our-services-img1 {
        position: absolute;
        top: 33rem;
    }

    .our-services-content1 {
        margin-top: 0rem;
    }
}


@media only screen and (max-width: 767px) and (min-width: 550px) {
    
    .contact-git {
        display: none;
    }

    hr.hr-line {
        margin-bottom: 20px;
    }

    .blue-btn {
        font-size: 12px;
        line-height: 14px;
        width: 6rem;
    }

    .our-services {
        margin-top: 130px;
        margin-bottom: 5px;
        display: block;
    }

    .our-services .our-services-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .our-services-content .our-content-head {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .our-services-content .sub-content-head {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .our-services-content .sub-content-para {
        font-size: 13px;
        line-height: 24px;
    }

    .book-a-call-btn {
        display: none;
    }

    .book-a-call-btn1 {
        display: block;
        margin-top: 30px;
    }

    .book-a-call-btn2 {
        display: block;
        margin-top: 22rem;
    }

    .book-a-call-btn3 {
        display: block;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .our-services-content .services-img {
        width: 21rem;
        display: none;
    }

    .our-services-image {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .our-services-image1 {
        position: absolute;
        top: 88rem;
    }

    .our-services-content {
        margin-bottom: 40px;
    }

    .our-services-content .services-img2 {
        width: 32rem;
        display: block;
    }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {

    hr.hr-line {
        margin-bottom: 20px;
    }

    .blue-btn {
        font-size: 14px;
        line-height: 22px;
        width: 7rem;
    }

    .our-services {
        margin-top: 170px;
        margin-bottom: 5px;
    }

    .our-services .our-services-heading {
        font-size: 28px;
        line-height: 45px;
    }

    .our-services-content .our-content-head {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .our-services-content .sub-content-head {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .our-services-content .sub-content-para {
        font-size: 13px;
        line-height: 24px;
    }

    .our-services-content .services-img {
        width: 21rem;
    }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {

    .blue-btn {
        font-size: 16px;
        line-height: 26px;
        width: 8rem;
    }

    .our-services {
        margin-top: 170px;
        margin-bottom: 5px;
    }

    .our-services .our-services-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .our-services-content .our-content-head {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .our-services-content .sub-content-head {
        font-size: 17px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .our-services-content .sub-content-para {
        font-size: 15px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 1200px) {

    .blue-btn {
        font-size: 16px;
        line-height: 26px;
        width: 9rem;
    }

    .our-services {
        margin-top: 170px;
        margin-bottom: 5px;
    }

    .our-services .our-services-heading {
        font-size: 45px;
        line-height: 70px;
    }

    .our-services-content .our-content-head {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .our-services-content .sub-content-head {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .our-services-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our-services-content .sub-content-para {
        font-size: 15px;
        line-height: 28px;
    }
}