<div class="container" style=" margin-left: auto;margin-right: auto; padding-left: 25px;padding-right: 50px;">
    <div class="our-services-section">
      <div class="our-services">
        <h2 class="our-services-heading">Our Services</h2>
        <div class="book-a-call-btn">
          <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
  
        </div>
      </div>
      <div class="our-services-content">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h3 class="our-content-head">Web Design &amp; Development</h3>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Custom Web Application Development</h5>
              <p class="sub-content-para">A web application is an app that is accessed via the internet through a web browser. Unlike mobile apps, these applications are stored on a remote server, not on a device itself. A perk of web apps is that they do not have to be downloaded in order to be accessed or used, although they do require an internet connection in order to be leveraged.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">eCommerce Development</h5>
              <p class="sub-content-para"> If your company sells products and services online, you will need a robust digital store and vendor services. BairesDev can create and provide an eCommerce website that will showcase your business and allow you to sell your goods seamlessly, all while appealing to your user base and helping you to attract new customers. Our eCommerce solutions span industries and niches, and we can assist you in crafting a retail experience that works for you and your business.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Front-End Design &amp; Development</h5>
              <p class="sub-content-para"> The front-end of your website or web application is the part users see and interact with. It is, of course, a critical aspect of your website and must work together with the back-end without hiccups. Because of that, we hire experienced front-end developers and user experience (UX) designers to craft an attractive and appealing interface, design, and all-around quality experience for your users.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Back-End Web Development</h5>
              <p class="sub-content-para">Back-end developers are responsible for building the server side of your website or web app — the part that users can’t see or manipulate. Our back-end developers will build a solid infrastructure, working closely with the front-end development team to ensure that the two sides work together and function seamlessly.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Support &amp; Maintenance</h5>
              <p class="sub-content-para"> All websites and apps require maintenance and upkeep. That is because no technologies, no matter how robust, remain as they are forever — they will always age and change. Our team members stay up to date on the latest tools and technologies and work hard to ensure that we keep your web presence fresh and timely through support and maintenance. We are also on hand to help you with any questions you may have or assistance you need. </p>
            </div>
            <div class="contact-git">
              <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
            </div>
            <!-- <div class="sub-content-services">
              <h5 class="sub-content-head">Training and Development</h5>
              <p class="sub-content-para">Invest in your team's growth with our customized training
                programs. We offer a wide array of training modules designed to enhance skills, improve
                productivity, and foster professional development.</p>
            </div> -->
          </div>
          <div class="col-lg-6 col-md-6 our-services-image aos-init aos-animate" data-aos="slide-left">
            <div class="our-services-img">
              <img class="services-img" src="https://taskhive.co.in/assets/images/web-development.png" alt="web-development">
              <img class="services-img2" src="https://taskhive.co.in/assets/images/web-development-1.png" alt="web-development2">
            </div>
          </div>
          <div class="book-a-call-btn1">
            <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
  
          </div>
        </div>
      </div>
      <div class="our-services-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 our-services-image our-services-image1 aos-init" data-aos="slide-right">
            <div class="our-services-img our-services-img1">
              <img class="services-img" src="https://taskhive.co.in/assets/images/degital-marketing.png" alt="bpo-services">
              <img class="services-img2" src="https://taskhive.co.in/assets/images/degital-marketing-1.png" alt="bpo-services2">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <h3 class="our-content-head"> Digital Marketing</h3>
            <div class="sub-content-services">
              <h5 class="sub-content-head">E-mail Marketing</h5>
              <p class="sub-content-para"> How many emails from businesses do you delete every day? Choose Thrive and let's make your email marketing campaigns stand out and work for your business. We create personalized email newsletters to keep your emails out of spam folders and encourage your customers to take your desired action. Our team builds your subscriber list, tests email campaigns before delivery, utilizes power words on your content and creates a curiosity gap in your emails.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Google Ads Services</h5>
              <p class="sub-content-para">Google Ads is one of the most effective and accountable marketing techniques, having the ability to target the right audience &amp; help generate high ROI. Google Ads holds significant importance for businesses and organizations looking to establish a strong online presence, connect with their target audience, and achieve various marketing goals. We are the best Certified Google AdWords management agency.</p>
            </div>
            <div class="contact-git">
              <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
            </div>
            <div class="book-a-call-btn2">
              <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services-content our-services-content1">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h3 class="our-content-head">IT Consulting &amp; IT Services</h3>
            <div class="sub-content-services">
              <h5 class="sub-content-head">Recruitment and Staffing</h5>
              <p class="sub-content-para">Our HR experts are committed to finding the best talent for your
                organization. We streamline the recruitment process, from sourcing and screening to
                interviewing and onboarding, ensuring you have the right team to achieve your goals.</p>
            </div>
            <div class="sub-content-services">
              <h5 class="sub-content-head">HR Consulting</h5>
              <p class="sub-content-para">Taskhive provides strategic HR consulting services to help you
                optimize your workforce, develop HR policies, and create a thriving workplace culture
                that attracts and retains top talent.</p>
            </div>
            <div class="contact-git">
              <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
            </div>
            <!-- <div class="sub-content-services">
              <h5 class="sub-content-head">Training and Development</h5>
              <p class="sub-content-para">Invest in your team's growth with our customized training
                programs. We offer a wide array of training modules designed to enhance skills, improve
                productivity, and foster professional development.</p>
            </div> -->
          </div>
          <div class="col-lg-6 col-md-6 our-services-image aos-init" data-aos="slide-left">
            <div class="our-services-img">
              <img class="services-img" src="https://taskhive.co.in/assets/images/it-services.png" alt="hr-services">
              <img class="services-img2" src="https://taskhive.co.in/assets/images/it-services-1.png" alt="hr-services2">
            </div>
          </div>
          <div class="book-a-call-btn3">
            <a class="btn blue-btn" routerLinkActive="active" routerLink="/contact">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
