<section class="support-section container">
    <div class="support-head aos-init aos-animate" data-aos="fade-down">
      <h1>Terms &amp; Conditions</h1>
      <img src="https://taskhive.co.in/assets/images/support-page-img.png" alt="">
    </div>
    <div class="support-body">
      <div class="support-page-data aos-init aos-animate" data-aos="fade-up">
        <p>Welcome to Taskhive! These Terms and Conditions ("Terms") govern your use of our website and the services provided by Taskhive in the fields of Web Design &amp; Development, Digital Marketing, and IT Consulting &amp; IT Services. By accessing or using our website and services, you agree to comply with and be bound by these Terms. Please read them carefully.</p>
      </div>
      <div class="support-page-data aos-init aos-animate" data-aos="fade-up">
        <h4>Acceptance of Terms</h4>
        <p>By accessing our website or using our services, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree to these Terms, please refrain from using our website and services.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Services</h4>
        <p><b>2.1 Service Offerings</b></p>
        <p>Taskhive provides Web Design &amp; Development, Digital Marketing, and IT Consulting &amp; IT Services to our clients. The specific details of these services, including pricing and terms of engagement, are outlined in separate agreements with our clients.</p>
        <p><b>2.2 Website Content</b></p>
        <p>The content on our website is provided for general informational purposes only. We strive to ensure the accuracy and currency of information, but we make no guarantees. Taskhive reserves the right to modify or remove content from the website at any time without notice.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>User Responsibilities</h4>
        <p><b>3.1 Account Security</b></p>
        <p>If you create an account on our website, you are responsible for maintaining the security of your account credentials. You agree to notify us immediately of any unauthorized use or breach of your account.</p>
        <p><b>3.2 Prohibited Activities</b></p>
        <p>You agree not to engage in any activities that may:</p>
        <ul>
          <li>Violate any applicable laws or regulations.</li>
          <li>Infringe upon the rights of others</li>
          <li>Disrupt the operation of our website or services.</li>
          <li>Collect or use personal information without consent.</li>
        </ul>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Privacy Policy</h4>
        <p>Taskhive values your privacy. Our Privacy Policy outlines how we collect, use, and protect your personal information. By using our services, you consent to the practices described in our Privacy Policy.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Intellectual Property</h4>
        <p>All content and materials on our website, including text, graphics, logos, and images, are protected by copyright and other intellectual property laws. You may not use, reproduce, or distribute our content without our express written consent.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Disclaimer of Warranties</h4>
        <p>While we strive for accuracy and quality, Taskhive makes no warranties, expressed or implied, regarding the suitability, reliability, or availability of our website and services. Your use of our website and services is at your own risk.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Limitation of Liability</h4>
        <p>To the fullest extent permitted by law, Taskhive shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from your use of our website or services.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Changes to Terms</h4>
        <p>Taskhive reserves the right to update or modify these Terms at any time. We will notify users of any changes through our website. Your continued use of our website and services after such modifications will constitute your acknowledgment of the modified Terms and agreement to abide by them.</p>
      </div>
      <div class="support-page-data aos-init" data-aos="fade-up">
        <h4>Contact Us</h4>
        <p>If you have any questions or ms and Conditions, please <span><a href="https://taskhive.co.in/contact_us">contact us</a></span>. We are here to assist you.</p>
        <p>Thank you for choosing Taskhive as your trusted partner in Web Design &amp; Development, Digital Marketing, and IT Consulting &amp; IT Services. We look forward to serving you.</p>
      </div>
    </div>
  </section>

