* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.preloader {
    height: 100vh;
    width: 100vw;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1050;
    top: 0;
    overflow-y: hidden;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0399FA;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #FBCB1C;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
}

.loader:after {
    animation-delay: 0.5s
}

@keyframes rotate {
    100% {
        transform: rotate(360deg) translate(30px)
    }
}

/* ###HEADER### */

.navbar {
    height: fit-content;
    background-color: #FFF;
}

.navbar-brand img {
    height: 6.5rem;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.nav-link {
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
}

.nav-dropdown {
    margin-left: 2.5rem;
}

.nav-dropdown button:focus {
    outline: none !important;
    border: none !important;
}

.dropdown-custom {
    left: -135px !important;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-toggle::after {
    display: none;
}

.dd-img {
    height: 2rem;
}

.nav-options {
    width: 26px;
    height: 30px;
}

/* ###FOOTER### */

.footer-custom {
    background: #000;
    height: fit-content;
    padding: 1rem 0;
}

.footer-div {
    padding: .5rem 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.foot-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
}

.foot-logo img {
    height: 10rem;
}

.foot-div {
    width: 30%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.foot-div-head h3 {
    font-size: 1.5rem;
}

.foot-div-contact {
    width: 40%;
}

.foot-options {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.foot-div-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.foot-div-body a {
    text-decoration: none;
    color: #FFF;
    font-size: .7rem;
    font-weight: 300;
}

.foot-contact {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .7rem;
    font-weight: 300;
}

.foot-contact img {
    height: 2rem;
    width: 2rem;
}

.footer-custom hr {
    color: #FFF;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terms {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.terms a {
    text-decoration: none;
    color: #FFF;
    font-size: .7rem;
    font-weight: 300;
}

.copyright {
    width: 40%;
    color: #FFF;
    font-size: .7rem;
    font-weight: 300;
    text-align: end;
}

/* #mob-nav-option {
    display: none;
} */

.mob-bottom-bar {
    display: none;
}

@media only screen and (max-width: 551px) and (min-width: 280px) {
    /* ###HEADER### */

    .navbar-toggler {
        display: none;
    }

    .dropdown-menu[data-bs-popper] {
        left: -135px;
    }

    .nav-dropdown {
        margin-left: 0;
    }

    .mob-options {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    #mob-nav-option {
        display: block;
    }

    #mob-nav-option img {
        height: 1.8rem;
    }

    .nav-options {
        width: 32px;
        height: 37px;
    }

    .navbar-brand img {
        height: 5rem;
    }

    /* ###BOTTOM_BAR### */

    .mob-bottom-bar {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        background: #fff;
        box-shadow: 0px 0px 107px 0px rgba(255, 255, 255, 0.50) inset;
        backdrop-filter: blur(76px);
        padding: .5rem
    }

    .mob-bottom-bar-options {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .mob-bottom-bar-options img {
        height: 2rem;
    }

    .mob-bottom-bar-options span {
        font-size: .7rem;
    }

    .bottom-bar-svg {
        fill: #000;
    }

    .bottom-bar-svg-active {
        fill: #FBCB1C !important;
    }

    .bottom-bar-span {
        color: #000;
    }

    .bottom-bar-active {
        color: #FBCB1C !important;
        font-weight: 600;
    }

    /* ###FOOTER### */

    .footer-custom {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 550px) {

    /* ###HEADER### */
    .navbar-brand img {
        height: 5rem;
    }

    .navbar-toggler {
        display: none;
    }

    .dropdown-menu[data-bs-popper] {
        left: -135px;
    }

    .nav-dropdown {
        margin-left: 0;
    }

    .mob-options {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    #mob-nav-option {
        display: block;
    }

    #mob-nav-option img {
        height: 1.8rem;
    }


    /* ###BOTTOM_BAR### */

    .mob-bottom-bar {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        background: #fff;
        box-shadow: 0px 0px 107px 0px rgba(255, 255, 255, 0.50) inset;
        backdrop-filter: blur(76px);
        padding: .5rem
    }

    .mob-bottom-bar-options {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .mob-bottom-bar-options img {
        height: 2rem;
    }

    .mob-bottom-bar-options span {
        font-size: .7rem;
    }

    .bottom-bar-svg {
        fill: #000;
    }

    .bottom-bar-svg-active {
        fill: #FBCB1C !important;
    }

    .bottom-bar-span {
        color: #000;
    }

    .bottom-bar-active {
        color: #FBCB1C !important;
        font-weight: 600;
    }

    /* ###FOOTER### */

    .footer-custom {
        display: none;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    /* ###HEADER### */

    .dropdown-menu[data-bs-popper] {
        left: -100px;
    }

    .foot-logo {
        width: 30%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        left: -135px;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 1200px) {
    .dropdown-menu[data-bs-popper] {
        left: -135px;
    }
}