<div class="container">
    <div class="gallery-section">
      <div class="gallery-part">
        <h2 class="gallery-heading">Gallery</h2>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            <div class="gallery-slid-show" *ngFor="let project of visibleProjects">
              <div class="row">

                <div class="col-md-3 col-sm-3">
                  <div class="gallery-image" id="main">
                      <img class="gallery-img" src="{{getImageUrl(project.images[0])}}" alt="Project Image" style="filter: unset;">
                  </div>
                </div>

                <div class="col-md-9 col-sm-9 slider" style="display: unset; opacity: 1;" *ngIf="project">  
                  <div class="gallery-content">
                    <div class="row">

                      <div class="col-12">
                        <h4 class="g-content-head">{{project.name}}</h4>
                      </div>

                      <div class="col-md-4 col-sm-4 col-6" *ngFor="let image of project.images.slice(1)">
                        <img class="g-content-img margin-img" src="{{getImageUrl(image)}}" alt="Project Image">
                      </div>

                      <div class="col-12">
                        <a class="g-content-para" [routerLink]="['/project', project._id]">Read More</a>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      </div>
    </div>
  </div>