<div class="container">
    <div class="gallery-section">
      <div class="gallery-part">
        <h2 class="gallery-heading">Gallery</h2>
                  <div class="gallery-slid-show">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="gallery-image" id="main">
                                        <img class="gallery-img" src="https://taskhive.co.in/uploads/New1712856667229.jpg" style="filter: unset;">
                                    </div>
                </div>
                <div class="col-md-9 col-sm-9 slider" style="display: unset; opacity: 1;">
  
                  <div class="gallery-content">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="g-content-head">Web development</h4>
                      </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712857018221.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712857018699.png">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1697891208329.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-12">
                        <a class="g-content-para" href="https://taskhive.co.in/project_details/11">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  <div class="gallery-slid-show">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="gallery-image" id="main">
                                        <img class="gallery-img" src="https://taskhive.co.in/uploads/New1712932224586.png">
                                    </div>
                </div>
                <div class="col-md-9 col-sm-9 slider">
  
                  <div class="gallery-content">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="g-content-head">Yash</h4>
                      </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712932224372.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712932224845.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-12">
                        <a class="g-content-para" href="https://taskhive.co.in/project_details/12">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  <div class="gallery-slid-show">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="gallery-image" id="main">
                                        <img class="gallery-img" src="https://taskhive.co.in/uploads/New1712932412297.jpg">
                                    </div>
                </div>
                <div class="col-md-9 col-sm-9 slider">
  
                  <div class="gallery-content">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="g-content-head">Lorem Ipsum</h4>
                      </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712932412245.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712932412974.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-12">
                        <a class="g-content-para" href="https://taskhive.co.in/project_details/13">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  <div class="gallery-slid-show">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="gallery-image" id="main">
                                        <img class="gallery-img" src="https://taskhive.co.in/uploads/New1712997615623.jpg">
                                    </div>
                </div>
                <div class="col-md-9 col-sm-9 slider">
  
                  <div class="gallery-content">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="g-content-head">NewProject</h4>
                      </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712997615296.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                                <img class="g-content-img margin-img" src="https://taskhive.co.in/uploads/New1712997615412.jpg">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-md-4 col-sm-4 col-6">
                                            </div>
                      <div class="col-12">
                        <a class="g-content-para" href="https://taskhive.co.in/project_details/14">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
    </div>
  </div>