
<div>
    <section class="support-section container">
      <div class="support-head aos-init aos-animate" data-aos="fade-down">
        <h1>Pricing Policy</h1>
        <img src="https://taskhive.co.in/assets/images/support-page-img.png" alt="">
      </div>
      <div class="support-body">
        <div class="support-page-data aos-init" data-aos="fade-up">
          <p>Our pricing policy is designed to provide transparency and clarity about our services' costs.</p>
        </div>
        <div class="support-page-data aos-init" data-aos="fade-up">
          <h4>Service Pricing:</h4>
          <p>Our pricing for services is outlined on our website. Prices may vary based on the scope and duration of the services.</p>
        </div>
        <div class="support-page-data aos-init" data-aos="fade-up">
          <h4>Payment Methods:</h4>
          <p>We do not process any payments through our website.</p>
        </div>
        <div class="support-page-data aos-init" data-aos="fade-up">
          <h4>Currency and Taxes:</h4>
          <p>All prices are stated in the preferred Currency. Applicable taxes may be added to your invoice based on your location and local regulations.</p>
        </div>
        <div class="support-page-data aos-init" data-aos="fade-up">
          <h4>Changes to Pricing:</h4>
          <p>We reserve the right to change our pricing at any time. However, the pricing for services you have already purchased will not be affected.</p>
        </div>
        <div class="support-page-data aos-init" data-aos="fade-up">
          <h4>Contact Us:</h4>
          <p>If you have any questions about our shipping and delivery policy, please contact us <span><a routerLinkActive="active" routerLink="/contact">here</a></span>.</p>
        </div>
      </div>
    </section>
  </div>
