<div class="container">
    <div class="project-details-section">
      <div class="project-details">
                  <img class="head-img2 aos-init aos-animate" src="https://taskhive.co.in/uploads/New1712856667229.jpg" alt="project-details122" data-aos="slide-left">
                <h2 class="project-details-heading">Web development</h2>
        <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="project-details-paras">
              <p class="project-details-para">Web development is the building and maintenance of websites; it’s the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience.

Web developers, or ‘devs’, do this by using a variety of coding languages. The languages they use depends on the types of tasks they are preforming and the platforms on which they are working.</p>
              <p class="project-details-para">Web development skills are in high demand worldwide and well paid too – making development a great career option. It is one of the easiest accessible higher paid fields as you do not need a traditional university degree to become qualified.
</p>
              <p class="project-details-para"> Web development skills are in high demand worldwide and well paid too – making development a great career option. It is one of the easiest accessible higher paid fields as you do not need a traditional university degree to become qualified.
</p>
            </div>
            <button type="button" class="btn btn-danger read-more-btn" style="display: none;">Read More</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12 our-project-image aos-init" data-aos="slide-left">
            <div class="project-heading-img">
                              <img class="head-img" src="https://taskhive.co.in/uploads/New1712857018221.jpg" alt="project-details">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
            <div class="project-details-image">
                              <img class="project-details-img" src="https://taskhive.co.in/uploads/New1712857018699.png" alt="project-details2">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
            <div class="project-details-image">
                              <img class="project-details-img" src="https://taskhive.co.in/uploads/New1712857018699.png" alt="project-details4">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
            <div class="project-details-image">
                <img class="project-details-img" src="https://taskhive.co.in/uploads/New1712857018699.png" alt="project-details4">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
            <div class="project-details-image">
                <img class="project-details-img" src="https://taskhive.co.in/uploads/New1712857018699.png" alt="project-details4">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
            <div class="project-details-image">
                <img class="project-details-img" src="https://taskhive.co.in/uploads/New1712857018699.png" alt="project-details4">
                          </div>
          </div>
          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in">
          <div class="project-details-image">
                          <img class="project-details-img" src="https://taskhive.co.in/assets/images/project-details1.jpg" alt="project-details1">
                      </div>
        </div>
        </div>
      </div>
    </div>
  </div>