<div class="container">
    <div class="project-details-section">

      <div class="project-details" >
              <img class="head-img2 aos-init aos-animate" [src]="getImageUrl(project.images[0])" alt="project-cover-image" data-aos="slide-left">
                <h2 class="project-details-heading">{{project.name}}</h2>
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="project-details-paras" *ngFor="let description of project.descriptions">
              <p class="project-details-para">{{description}}</p>
            </div>
            <button type="button" class="btn btn-danger read-more-btn" style="display: none;">Read More</button>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-12 our-project-image aos-init" data-aos="slide-left">
            <div class="project-heading-img">
                <img class="head-img" src="{{getImageUrl(project.images[0])}}" alt="project-cover-image">
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-6 aos-init" data-aos="fade-in" *ngFor="let image of project.images.slice(1)">
            <div class="project-details-image">
                <img class="project-details-img" [src]="getImageUrl(image)" alt="project-other-image">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>